<h1>Costume #<%= @costume.id %></h1>

<p> 
	<b>Party:</b>
	<%= @costume.id %>
</p>
<p>
	<b>Summary:</b>
	<%= @costume.description %>
</p>

<p>
	<b>Price:</b>
	<%= @costume.price%>
</p>	
<p>
	<b>Currency:</b>
	<%= costume.currency%>
</p>


	


